<h1>Show medico</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>idPersona:</strong>
		<%= element.idPersona %>
	</p>

<br>
<a href="/medico/edit/<%= element.id %>">Edit</a>
<a href="/medico/create">New</a>
<a href="/medico">Back</a>
