<h1>Show persona</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>identificacion:</strong>
		<%= element.identificacion %>
	</p>
	<p>
		<strong>nombre:</strong>
		<%= element.nombre %>
	</p>
	<p>
		<strong>img:</strong>
		<%= element.img %>
	</p>
	<p>
		<strong>paterno:</strong>
		<%= element.paterno %>
	</p>
	<p>
		<strong>materno:</strong>
		<%= element.materno %>
	</p>
	<p>
		<strong>telefono:</strong>
		<%= element.telefono %>
	</p>
	<p>
		<strong>celular:</strong>
		<%= element.celular %>
	</p>
	<p>
		<strong>cedula:</strong>
		<%= element.cedula %>
	</p>
	<p>
		<strong>expedido:</strong>
		<%= element.expedido %>
	</p>
	<p>
		<strong>fechaNacimiento:</strong>
		<%= element.fechaNacimiento %>
	</p>
	<p>
		<strong>sexo:</strong>
		<%= element.sexo %>
	</p>
	<p>
		<strong>rol:</strong>
		<%= element.rol %>
	</p>

<br>
<a href="/persona/edit/<%= element.id %>">Edit</a>
<a href="/persona/create">New</a>
<a href="/persona">Back</a>
