<div class="">
  <h1>New consultorio</h1>

  <div class="body">
    <form class="" action="/consultorio/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">createdAt</label>
          <input type="number" name="createdAt" value="<%= element.createdAt %>" required="false">
        </div>
        <div class="">
          <label for="">updatedAt</label>
          <input type="number" name="updatedAt" value="<%= element.updatedAt %>" required="false">
        </div>
        <div class="">
          <label for="">id</label>
          <input type="number" name="id" value="<%= element.id %>" required="true">
        </div>
        <div class="">
          <label for="">nombre</label>
          <input type="text" name="nombre" value="<%= element.nombre %>" required="false">
        </div>
        <div class="">
          <label for="">sigla</label>
          <input type="text" name="sigla" value="<%= element.sigla %>" required="false">
        </div>
      <button type="submit">Update consultorio</button>
    </form>
    <br />
    <a href="/consultorio">Index</a>
  </div>
</div>