<h1>Show revisionMedica</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>lugar:</strong>
		<%= element.lugar %>
	</p>
	<p>
		<strong>peso:</strong>
		<%= element.peso %>
	</p>
	<p>
		<strong>estatura:</strong>
		<%= element.estatura %>
	</p>
	<p>
		<strong>cabeza:</strong>
		<%= element.cabeza %>
	</p>
	<p>
		<strong>fecha:</strong>
		<%= element.fecha %>
	</p>
	<p>
		<strong>idPaciente:</strong>
		<%= element.idPaciente %>
	</p>

<br>
<a href="/revisionMedica/edit/<%= element.id %>">Edit</a>
<a href="/revisionMedica/create">New</a>
<a href="/revisionMedica">Back</a>
