<h1>Show controlRevision</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>idMedico:</strong>
		<%= element.idMedico %>
	</p>
	<p>
		<strong>idConsultorio:</strong>
		<%= element.idConsultorio %>
	</p>
	<p>
		<strong>idRevisionMedica:</strong>
		<%= element.idRevisionMedica %>
	</p>

<br>
<a href="/controlRevision/edit/<%= element.id %>">Edit</a>
<a href="/controlRevision/create">New</a>
<a href="/controlRevision">Back</a>
