<h1>Show tutorAlumno</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>idPaciente:</strong>
		<%= element.idPaciente %>
	</p>
	<p>
		<strong>idTutor:</strong>
		<%= element.idTutor %>
	</p>

<br>
<a href="/tutorAlumno/edit/<%= element.id %>">Edit</a>
<a href="/tutorAlumno/create">New</a>
<a href="/tutorAlumno">Back</a>
