<br>

<h4 id="nombreFecha"></h4>
<button class="btn btn-raised" id='todayBtn'>Hoy</button>

<button class="btn btn-raised" id='prevBtn'><span style="font-size: 1em; color: black;">
	<i class="fas fa-arrow-circle-left"></i>
  </span></button>
<button class="btn btn-raised" id='nextBtn'><span style="font-size: 1em; color: black;">
	<i class="fas fa-arrow-circle-right"></i>
  </span></button>

<div id="calendar" style="height: 800px;"></div>

<div class="card bg-light ">
	<div class="card-header">Lista de Pacientes</div>
	<div class="card-body">
	
		<div class="container">
		
			<!-- <br> -->
			<!-- <h4>Lista de Pacientes</h4> --> 
			<% if (citas.length == 0) { %>
				<h4>
					0 Pacientes
				</h4>
				<% } else { %>
					<table class="table table-striped table-bordered">
						<thead class="bg-danger text-white ">
							<th>Nro</th>
							<th>Nombre</th>
							<th>Paterno</th>
							<th>Materno</th>
		
							<th>FECHA</th>
							<th>HORA</th>
						</thead>
		
						<tbody>
							<% citas.forEach((item, i) => { %>
								<tr>
									
									<td>
										<%= ++i%>
									</td>
		
									<!-- <td>
										<%= item.id %>
									</td> -->
									<td>
										<%= item.idPersona.nombre %>
									</td>
									<td>
										<%= item.idPersona.paterno %>
									</td>
									<td>
										<%= item.idPersona.materno %>
									</td>
									<td>
										<%  var fecha = new Date(item.cita.fecha)%>
                                            <%= fecha.toLocaleDateString()  %>
									</td>
									<td>
										<!-- <%  var fecha = new Date(item.updatedAt)%>
                                            <%= fecha.toLocaleDateString()  %> -->
                                            <%= item.cita.hora%>

									</td>
									<!-- <td> -->
										<!-- <a href="#">
											<span style="font-size: 1em; color: green;">
												<i class="fas fa-eye"></i>
											</span>
										</a>
									</td>
									<td>
											<a href="#">
											<span style="font-size: 1em; color: red;">
												<i class="fas fa-user-times"></i>
											</span>
										</a>
									</td>
									<td>
										<a href="#">
											<span style="font-size: 1em; color: blue;">
												<i class="fas fa-edit"></i>
											</span>
										</a>
									</td> -->
		
								</tr>
								<% }) %>
						</tbody>
					</table>
		
					<% } %>
		
						<br>
						<a href="/paciente/crearcita" class="btn btn-warning btn-lg active"> <i class="fas fa-plus-circle"></i> </a>
		</div>
	</div>


	<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />

<!-- If you use the default popups, use this. -->
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />



<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>

<script>

	var citas = <%- JSON.stringify(citas)%>
// 	var timezoneName = moment.tz.guess();
// tui.Calendar.setTimezoneOffset(moment.tz.zone(timezoneName).utcOffset(moment()));
var calendario = new tui.Calendar(document.getElementById('calendar'),{
  defaultView: 'month',
  taskView: true,
  template: {
    monthDayname: function(dayname) {
      return '<span class="calendar-week-dayname-name">' + dayname.label + '</span>';
    },
	taskTitle :(schedule)=>{
		return '<label> <input type="checkbox"/>TASK</label>'
	},
	time:(schedule)=>{
		return schedule.title + '<i class="fa fa-refresh">OSO</i>'
	}
  },
  month:{
	  daynames:['DOMINGO','LUNES','MARTES','MIERCOLES','JUEVES','VIERNES','SABADO']
  },
//   timezones:[{
// 	  timezoneOffset:540,
// 	  displaylabel:'GMT+09:00',
// 	  tooltip:'Seoul'
//   },{
// 	  timezoneOffset:-420,
// 	  displayLabel:'GMT-08:00',
// 	  tooltip:'Los Angeles'
//   }]
});
calendario.today();
// calendario.setOptions({month:{visibleWeeksCount:6}},true);
// calendario.changeView('month',true)

var auxFechas =[]
citas.forEach((element,index)=> {
	auxFechas.push({
		id:index+1,
		calendarId:'1',
		title:element.idPersona.paterno+ ' ' +element.idPersona.nombre,
		category:'time',
		dueDateClass:'',
		start:element.cita.fecha,
		end:element.cita.fecha
	})
});
calendario.createSchedules(auxFechas);
calendario.render();
$('#nombreFecha').text(new Date(calendario.getDate()).getFullYear() +'.'+(new Date(calendario.getDate()).getMonth()+1))


$('#nextBtn').click(event=>{
	calendario.next();
	console.log(calendario.getDate())
	$('#nombreFecha').text(new Date(calendario.getDate()).getFullYear() +'.'+(new Date(calendario.getDate()).getMonth()+1))
})
$('#prevBtn').click(event=>{
	calendario.prev();
	$('#nombreFecha').text(new Date(calendario.getDate()).getFullYear() +'.'+(new Date(calendario.getDate()).getMonth()+1))

})
$('#todayBtn').click(event=>{
	calendario.today();
	$('#nombreFecha').text(new Date(calendario.getDate()).getFullYear() +'.'+(new Date(calendario.getDate()).getMonth()+1))

})
</script>
</div>